# Idea
*.iml
/.idea/

*/target/

.DS_Store
.directory
*.log

# Locally stored "Eclipse launch configurations"
*.launch

# Maven target directory
target/

*.jar

cache/

/public/*.properties

# Find bugs configuration file
/.fbprefs